h1 {
    color: black;
    font-family: 'Arial Narrow', Arial, sans-serif;
    
}

header {
   
    background: linear-gradient(90deg, rgba(182, 69, 119, 1) 0%, rgba(185, 181, 181, 1) 50%, rgba(77, 131, 198, 1) 100%);
    margin-bottom: 50px;
}

.fotoPerfil {
    
    justify-self: center;
}


.pngDescripcion{
    width: 80px;
}
.pngHobbies{
    width: 80px;
}



footer {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}
a{
    padding: 20px;
}
